body {
    font-family: sans-serif;
    font-size: 12px;
}

.title_wrap {
    display: inline-block;
}

.title {
    margin: 0px;
    float: left;
    clear: none;
}

.divclear {
    float: none;
    clear: both;
}

#myTable {
    font-family: monospace;
    font-size: 14px;
    vertical-align: top;
}

#myTable tbody td {
    vertical-align: top;
}


th, td {
    text-align: left;
}

.dataTables_filter {
    float: left !important;
    font-size: 24px;
}

.dataTables_filter input {
    height: 32px;
    width: 600px;
    font-size: 24px;
    border: 2px solid black;
}

.attributeTable {
    border-collapse: collapse;
}

.attributeTable td, .attributeTable th, .attributeTable thead, .attributeTable tbody {
    border: 2px solid black;
}

.fieldTable {
    border-collapse: collapse;
}

.fieldTable td, .fieldTable th, .fieldTable thead, .fieldTable tbody {
    border: 2px solid black;
}

.links {
    margin-bottom: 16px;
    font-size: larger;
}