<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%TITLE%</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jfr.css">
</head>
<body>
<h1>JFR Explorer</h1>
<script type="text/javascript">
    function getParam() {
        return window.location.href.slice(window.location.href.indexOf('?') + 1)
            .split('=')[1];
    };

    $(document)
        .ready(
            function () {
                $('#myTable')
                    .DataTable(
                        {
                            "scrollX": true,
                            "autoWidth": false,
                            "pageLength": 50,
                            "lengthChange": false,
                            "columnDefs": [{
                                "targets": $ALLCOLUMNS,
                                "orderable"
            :
                true,
            }],
                "oLanguage"
            :
                {
                    "sSearch"
                :
                    "Search JFR Events: "
                }
            ,
                initComplete: function () {
                    this.api().search(getParam());

                    this.api().draw();

                    this
                        .api()
                        .columns( $SORTCOLUMNS
                )
                .
                    every(
                        function () {
                            var column = this;
                            var select = $(
                                '<select><option value="">Show All</option></select>')
                                .appendTo(
                                    $(column.header()).empty()).on(
                                    'change',
                                    function () {
                                        var val = $.fn.dataTable.util
                                            .escapeRegex($(this)
                                                .val());

                                        column.search(
                                            val ? '^' + val + '$'
                                                : '', true, false)
                                            .draw();
                                    });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(
                                    function (d, j) {
                                        select
                                            .append('<option value="' + d + '">'
                                                + d + '</option>')
                                    });
                        });
                }
            })
                ;
            });
</script>
<div class="links">
    <a href="jfr_jdk11.html">JDK11</a>&#160;&#160;
    <a href="jfr_jdk12.html">JDK12</a>&#160;&#160;
    <a href="jfr_jdk13.html">JDK13</a>&#160;&#160;
    <a href="jfr_jdk14.html">JDK14</a>&#160;&#160;
    <a href="jfr_jdk15.html">JDK15</a>&#160;&#160;
    <a href="jfr_jdk16.html">JDK16</a>&#160;&#160;
    <a href="jfr_jdk17.html">JDK17</a>&#160;&#160;
    <a href="jfr_jdk18.html">JDK18</a>&#160;&#160;
    <a href="jfr_jdk19.html">JDK19</a>&#160;&#160;
    <a href="jfr_jdk20.html">JDK20</a>&#160;&#160;
</div>
%BODY%
</body>
</html>